# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# ZMK build artifacts
build/
*.uf2
*.hex
*.bin

# West/Zephyr workspace (created by local act --bind builds)
.west/
zmk/
zephyr/
modules/
tools/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
