# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TYPERACTIVE_CORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "Typeractive Corne Left"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TYPERACTIVE_CORNE_RIGHT

config ZMK_KEYBOARD_NAME
    default "Typeractive Corne Right"

config ZMK_SPLIT_ROLE_PERIPHERAL
    default y

endif